<section class="w-full h-full">
  <div class="w-full flex justify-center items-center gap-2 flex-wrap mt-2">
    @if (tagsService.reloadList()) {
    <p>Cargando lista de Tags...</p>
    } @else {
      @for (item of tagsService.list(); track $index) {
      <span
        class="bg-gray-100 text-gray-800 text-xs font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-gray-300"
        >{{ item.name }}</span
      >
      }
    }
  </div>

  <div class="w-full mt-4">
    <div class="flex max-w-xs gap-4 items-end">
      <div>
        <label
          for="first_name"
          class="block mb-2 text-lg font-medium text-white"
          >Nueva Etiqueta</label
        >
        <input
          type="text"
          id="first_name"
          [(ngModel)]="tagsService.newTag"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="AUDIFONO"
          required
        />
      </div>
      <app-button
        (click)="tagsService.createTag()"
        [isLoading]="tagsService.load()"
        [isDisable]="tagsService.load()"
        >Guardar</app-button
      >
    </div>
  </div>
</section>
