<section class="w-full flex justify-center items-center">
  <form
    [formGroup]="form"
    (ngSubmit)="onSubmit()"
    class="rounded-md bg-white bg-opacity-70 max-w-[580px] mt-4 p-4 w-auto text-[#2f3f50]"
  >
    <div class="flex w-full justify-between items-center gap-4">
      <div class="w-[calc(100%_-_11rem)] flex flex-col gap-3">
        <form-input
          placeholder="Nombre"
          formControlName="name"
          label="Nombre"
          [showErrorMessage]="false"
          [error]="name.validateError"
        ></form-input>

        <form-input
          placeholder="Describe el producto"
          formControlName="description"
          [showErrorMessage]="false"
          label="Descripcion"
          [error]="description.validateError"
        ></form-input>
      </div>

      <picture class="overflow-auto scroller">
        <label
          class="block dark:text-white font-medium mb-2 text-sm"
          [ngClass]="imagen.validateError ? 'text-red-700' : 'text-gray-900'"
          >Imagen Principal</label
        >
        <img
          class="w-40 h-40"
          [ngClass]="imagen.validateError ? 'border border-red-500' : ''"
          [src]="imgPrincipal"
          alt="imagen"
        />
      </picture>
    </div>

    <div
      *ngIf="attachedImages.length"
      class="flex w-full gap-2 my-2 overflow-auto"
    >
      <picture *ngFor="let item of attachedImages">
        <img class="w-12 h-12" [src]="item" alt="imagen segundaria" />
      </picture>
    </div>

    <fieldset
      class="rounded-md p-2 border-solid border-[1px]"
      [ngClass]="
        form.touched && tagsVoid ? 'border-red-500' : 'border-gray-500'
      "
    >
      <legend
        class="block dark:text-gray-400 font-medium bg-gray-100 text-gray-900 text-sm rounded-md px-2 border-solid border-[1px]"
        [ngClass]="
          form.touched && tagsVoid ? 'border-red-500' : 'border-gray-500'
        "
      >
        Seleciona las Tags
      </legend>
      <div class="flex gap-2 flex-wrap">
        @if (tagsServ.list().length && checkboxes.length) {
          @for (item of checkboxes; track $index) {
            <ng-container formArrayName="tags" >
              <label class="cursor-pointer" (click)="updateCheckboxes()">
                <input type="checkbox" [formControlName]="$index" />&nbsp;{{ item.name }}
              </label>
            </ng-container>
          }
        } @else {
          <app-spinner mode="small" />
        }
      </div>
    </fieldset>

    <form-input
      placeholder="Precio al cliente"
      formControlName="value"
      [showErrorMessage]="false"
      label="Valor"
      type="number"
      [error]="description.validateError"
    />

    <div class="flex gap-2 w-full mt-4 justify-between items-end">
      <form-input-file
        class="w-full"
        (changeFile)="loadBase64($event)"
        [label]="labelInputImg"
      />

      <form-input-file
        (changeFile)="newImage($event)"
        [basic]="true"
        label="ok"
      />
    </div>

    <app-button class="mt-4" type="submit">Guardar</app-button>
  </form>
</section>

<ng-container *ngIf="load">
  <app-spinner />
</ng-container>
