<ngx-json-ld [json]="schema"></ngx-json-ld>
<section class="w-full h-full flex flex-col justify-between">
  <div class="w-full">
    <div class="w-full flex sm:justify-center items-center md:-mt-6 md:justify-start md:!pl-12 ">
      <img
        class="w-64 sm:ml-0 md:w-full max-w-md"
        src="../../../../../assets/img/logos/logo-blanco.png"
        alt="logo SoundLab"
      />
    </div>
    <div
      class="w-full flex justify-center items-center px-4 flex-col font-montserrat font-medium text-white text-center"
    >
      <h1 class="max-w-[40rem]">
        SoundLab es una empresa dedicada a la reparación de equipos de la escena
        DJ, venta de repuestos, accesorios, venta y alquiler de equipos para
        eventos y discotecas.
      </h1>
      <h2 class="max-w-[40rem]">
        Soporte, implementación y mantenimiento de sonido, luces, pantallas led,
        pixel led y todo lo relacionado para el montaje de clubes y discotecas.
      </h2>

      <div class="mt-4 md:mt-8 flex flex-col">
        <p>Estamos ubicados en la</p>
        <div class="flex w-full justify-center items-center">
          <br /><strong>Cr 52 #74-52</strong>
          <a [href]="ubicacion" target="_blank" rel="noopener noreferrer">
            <img
              class="w-4 h-4 ml-2 cursor-pointer hover:scale-105"
              src="../../../../../assets/icons/ubicacion.png"
              alt="icono unicacion"
            />
          </a>
        </div>
        Barrio Santamaría-El Carmelo, Itagüi, Antioquia.
      </div>
    </div>
  </div>

  <app-footer />
</section>

