<nav
  class="h-16 w-full text-gray-200 shadow-lg hover:text-white focus:text-white lg:flex-wrap lg:justify-end bg-black bg-opacity-20"
>
  @if (authService.showMenu()) {
  <div class="w-full h-16 flex items-center justify-end pr-4">


    <!-- Collapsible navbar container -->
    <div
      [ngClass]="showNavbar ? '' : 'hidden'"
      class="!visible relative flex-grow basis-[100%] lg:mt-0 lg:!flex lg:basis-auto"
      id="navbarSupportedContent7"
      data-te-collapse-item
    >
      <!-- Left links -->
      <ul
        (click)="showNavbar = !showNavbar"
        [class]="authService.showMenu() ? 'flex' : 'hidden'"
        class="list-style-none absolute mt-[33px] lg:static z-50 ml-auto bg-black bg-opacity-90 lg:bg-transparent lg:bg-opacity-100 flex-col pl-0 lg:mt-1 lg:flex-row text-gray-400 lg:mr-4 w-screen lg:w-full lg:justify-end"
      >
        <a [routerLink]="routes.PUBLIC.HOME" routerLinkActive #rlH="routerLinkActive">
          <li
            [class]="rlH.isActive ? 'bg-pink-800' : ''"
            class="hover:bg-pink-800 hover:bg-opacity-50 hover:text-white pl-2 lg:mb-0 lg:pl-0 lg:pr-1 p-2 cursor-pointer"
          >
            <span
              [class]="rlH.isActive ? 'text-white' : ''"
              class="p-0 transition duration-200 hover:ease-in-out focus:text-white motion-reduce:transition-none lg:px-2 [&.active]:text-white"
              >Inicio</span
            >
          </li>
        </a>

        <a
          [routerLink]="routes.PUBLIC.CONTACT_US"
          routerLinkActive
          #rlC="routerLinkActive"
        >
          <li
            [class]="rlC.isActive ? 'bg-pink-800' : ''"
            class="hover:bg-pink-800 hover:bg-opacity-50 hover:text-white pl-2 lg:mb-0 lg:pl-0 lg:pr-1 p-2 cursor-pointer"
          >
            <span
              [class]="rlC.isActive ? 'text-white' : ''"
              class="p-0 transition duration-200 hover:ease-in-out focus:text-white motion-reduce:transition-none lg:px-2 [&.active]:text-white"
              >Contacto</span
            >
          </li>
        </a>

        <a
          [routerLink]="routes.PUBLIC.LOGIN"
          routerLinkActive
          #rlLg="routerLinkActive"
        >
          <li
            [class]="rlLg.isActive ? 'bg-pink-800' : ''"
            class="hover:bg-pink-800 hover:bg-opacity-50 hover:text-white pl-2 lg:mb-0 lg:pl-0 lg:pr-1 p-2 cursor-pointer"
          >
            <span
              [class]="rlLg.isActive ? 'text-white' : ''"
              class="p-0 transition duration-200 hover:ease-in-out focus:text-white motion-reduce:transition-none lg:px-2 [&.active]:text-white"
              >Login</span
            >
          </li>
        </a>

        <a
          *ngIf="authService.isAdmin()"
          [routerLink]="routes.PRIVATE.DEVELOPER"
          routerLinkActive
          #rlDev="routerLinkActive"
        >
          <li
            [class]="rlDev.isActive ? 'bg-pink-800' : ''"
            class="hover:bg-pink-800 hover:bg-opacity-50 hover:text-white pl-2 lg:mb-0 lg:pl-0 lg:pr-1 p-2 cursor-pointer"
          >
            <span
              [class]="rlDev.isActive ? 'text-white' : ''"
              class="p-0 transition duration-200 hover:ease-in-out focus:text-white motion-reduce:transition-none lg:px-2 [&.active]:text-white"
              >Desarrollo</span
            >
          </li>
        </a>

        <a
          *ngIf="authService.isAdmin()"
          [routerLink]="routes.PRIVATE.ITEMS"
          routerLinkActive
          #rlAdmin="routerLinkActive"
        >
          <li
            [class]="rlAdmin.isActive ? 'bg-pink-800' : ''"
            class="hover:bg-pink-800 hover:bg-opacity-50 hover:text-white pl-2 lg:mb-0 lg:pl-0 lg:pr-1 p-2 cursor-pointer"
          >
            <span
              [class]="rlAdmin.isActive ? 'text-white' : ''"
              class="p-0 transition duration-200 hover:ease-in-out focus:text-white motion-reduce:transition-none lg:px-2 [&.active]:text-white"
              >Crear Items</span
            >
          </li>
        </a>
      </ul>
    </div>

    <!-- Hamburger button for mobile view -->
    <button
      (click)="showNavbar = !showNavbar"
      class="block border-0 bg-transparent px-2 hover:no-underline hover:shadow-none focus:no-underline focus:shadow-none focus:outline-none focus:ring-0 dark:text-neutral-200 lg:hidden h-12"
      type="button"
    >
      <!-- Hamburger icon -->
      <span class="[&>svg]:w-12 mr-3">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="currentColor"
          class="h-auto w-12"
        >
          <path
            fill-rule="evenodd"
            d="M3 6.75A.75.75 0 013.75 6h16.5a.75.75 0 010 1.5H3.75A.75.75 0 013 6.75zM3 12a.75.75 0 01.75-.75h16.5a.75.75 0 010 1.5H3.75A.75.75 0 013 12zm0 5.25a.75.75 0 01.75-.75h16.5a.75.75 0 010 1.5H3.75a.75.75 0 01-.75-.75z"
            clip-rule="evenodd"
          />
        </svg>
      </span>
    </button>
  </div>
  }
</nav>
